<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>D3: Dynamic axes generated based on min/max values of randomized data</title>

		<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="/js/d3.min.js"></script>
	
		
		<style type="text/css">
			
			#content{
				width:1000px;
				margin:auto;
			}
			text{
				font-family:'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
				color:#666;
				font-size:12px;
			}

			.axis path,
			.axis line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}
			
			.axis text {
				font-size: 11px;
			}

			#yearlist{
				margin:10px 10px 10px 50px;
			}

			h2 {
				margin:20px 0 0 50px;
			}

			#copy {
				margin:20px 0  0 0;
				text-align: right;
			}
		</style>

</head>
<body>
	<div id="content">
<!-- Standard button -->
	<div id="yearlist">
		<button type="button" class="btn btn-default" data-no="0" id="bt">2001年</button>
		<button type="button" class="btn btn-default" data-no="1" id="bt">2005年</button>
		<button type="button" class="btn btn-default" data-no="2" id="bt">2008年</button>
		<button type="button" class="btn btn-default" data-no="3" id="bt">2011年</button>
		<button type="button" class="btn btn-default" data-no="4" id="bt">2014年</button>
	</div>

	<h2>2001年</h2>

	<svg></svg>

	<script type="text/javascript">


	// Width and height
	var w = 1000;
	var h = 600;
	var padding = 50; //グラフ内の余白

	var nvdataset = [];
  var dataset = [];

	// Create SVG element
	var svg = d3.select("body svg")
					.attr("width",w)
					.attr("height",h);


		var xScale;
		var yScale;
		var rScale;
		var xAxis;
		var yAxis;


		// カテゴリーカラー
		// https://github.com/mbostock/d3/wiki/ordinal-Scales
		// ランダムに50色のカラーリストを作成する
		// カラーが足らないので連結して作成する。
		var color =d3.scale.category20b();
		var color2 = d3.scale.category20();
		var cl = color.range();
		var colorList = cl.concat(color2.range());


	$(function(){

			// Data Set
			setData();

		// 描画元データの格納
		dataset = nvdataset[0].data

	

			updateData();


		 d3.select("body").selectAll("#bt")
				.on("click",function() {

						// 表示している年度の設定
						d3.selectAll("h2").text(d3.select(this).text());

						var DataNo = d3.select(this).attr("data-no");

						// 描画元データの格納
						dataset = nvdataset[DataNo].data;


						scalexx();

						// Create circles
						// 人口を示す円を描く
						svg.selectAll("circle")			// circleは存在しないが、選択する
								.data(dataset)					// データを１つずつ処理
				        .transition()							// アニメーション
				        .delay(function(d, i) {		// １つずつ遅延させる
				              return i * 200;
				          })
				        .duration(3000)						// 変化にかかる時間
								.attr("cx",function(d){ // 円の中心 X座標
									return xScale(d.density);
								})
								.attr("cy",function(d) {　　// 円の中心 Y座標
									return yScale(d.average);
								})
							.attr("fill",function(d,i){
									return colorList[i];				// fill 塗り
								})
								.attr("fill-opacity","0.7")
								.attr("r",function(d){						// 円を描画
									return rScale(d.population);   	// 半径を設定
								})

 							// Create labels
								svg.selectAll("text")	// 地域名
									.data(dataset)
					        .transition()							// アニメーション
					        .delay(function(d, i) {		// １つずつ遅延させる
					              return i * 200;
					          })
					        .duration(3000)						// 変化にかかる時間
									.attr("x",function(d) {
										return xScale(d.density);
									})
									.attr("y",function(d) {
										return yScale(d.average);
									})
				});



				// .datum(function(d){
				// 	var data = 
				// 			{"districts":d.districts,
				// 			"population":d.population,
				// 			"density":d.density,
				// 			"average":d.average};
				// 	return data;
				// });



			
	});


function scalexx(){


		// Create scale functions
		// 目盛を作成する。
		// https://github.com/mbostock/d3/wiki/Quantitative-Scales

		// linear （直線的）
		// x軸：人口密度
		xScale = d3.scale.linear()  // 目盛の種類
								// 入力ドメイン  density　人口密度
								// .domain([
								// 	d3.min(dataset,function(d){ // アクセッサ関数
								// 		return d.density - padding * 2;
								// 	}),
								// 	d3.max(dataset,function(d){
								// 		return d.density;		 
								// 	})
								// ])
								.domain([
									3380,
									20880
								])

								// 出力レンジ
								// 20 から　幅（余白あり）まで
								.range([padding,w]);

		// Y軸：平均年齢
		yScale = d3.scale.linear()  // 目盛の種類
								// 入力ドメイン  average 平均年齢
								// .domain([
								// 	d3.min(dataset,function(d){ 
								// 		return d.average-0.3;	// 位置調整している。 
								// 	}),
								// 	d3.max(dataset,function(d){ 
								// 		return d.average; 
								// 	})
								// ])
								.domain([
									39.20 - 0.3,
									46.71
								])

								.range([h - padding,20]);

		// バブルチャートの円の半径：人口
		rScale = d3.scale.linear()  // 目盛の種類
								.domain([
										d3.min(dataset,function(d){
										 return d.population; 
										}),
										d3.max(dataset,function(d){
										 return d.population; 
										})])
								.range([5,50]);

		// Define X axis
		// X軸ｊの定義
		xAxis = d3.svg.axis()　　　　// 目盛を生成
							.scale(xScale)　　　　　// スケールを適用
							.orient("bottom")　　　// 目盛の表示位置
							.ticks(15);						// 目盛の個数

		// Define Y axis
		// Y軸ｊの定義
		yAxis = d3.svg.axis()　　　　// 目盛を生成
								.scale(yScale)　　　// スケールを適用
								.orient("left")　　// 目盛の表示位置
								.ticks(10);				// 目盛の個数


}


	function updateData(){


		scalexx();


		// Create circles
		// 人口を示す円を描く
		svg.selectAll("circle")			// circleは存在しないが、選択する
				.data(dataset)					// データを１つずつ処理
				.enter()								// 描画されてなければ、追加
				.append("circle")   		// SVG:circle
				.attr("cx",function(d){ // 円の中心 X座標
					return xScale(d.density);
				})
				.attr("cy",function(d) {　　// 円の中心 Y座標
					return yScale(d.average);
				})
				.attr("r",0)							// 半径をなくして、見えなくする。
        .transition()							// アニメーション
        .delay(function(d, i) {		// １つずつ遅延させる
              return i * 200;
          })
        .duration(3000)						// 変化にかかる時間
        .ease("bounce")						// 変化の種類
				.attr("fill",function(d,i){
					return colorList[i];				// fill 塗り
				})
				.attr("fill-opacity","0.7")
				.attr("r",function(d){						// 円を描画
					return rScale(d.population);   	// 半径を設定
				})

		svg.selectAll("circle")					
				.on("mouseover",function() {
					//　
					d3.select(this)
						.attr("stroke","black")
						.attr("stroke-width","2")
						.attr("fill-opacity","1");
				})
				.on("mouseout",function() {
					// 
					d3.select(this)
						.attr("stroke","")
						.attr("fill-opacity","0.7");
				});


		// Create labels
		svg.selectAll("text")	// 地域名
			.data(dataset)
			.enter()
			.append("text")
			.text(function(d) {
				return d.districts;　//　23区名
			})
			.attr("x",function(d) {
				return xScale(d.density);
			})
			.attr("y",function(d) {
				return yScale(d.average);
			})


	 // Create X axis　X軸目盛
	 svg.append("g")
	 	.attr("class","axis x")
		.attr("transform","translate(0," + (h - padding) + ")")
	 	.call(xAxis);

	 	// Create Y axis　　Y軸目盛
	 	svg.append("g")
	 		.attr("class","axis y")
	 		.attr("transform","translate(" + padding + ",0)")
	 		.call(yAxis);

	 	// 軸のラベル単位を追加
		d3.select(".x.axis")
		  .append("text")
		  .text("人口密度(1ｋ㎡当たり)")
		  .attr("x", w/2)
		  .attr("y", 40)

		d3.select(".y.axis")
		  .append("text")
		  .text("平")
		  .attr("x", -45)
		  .attr("y", h/2)

		d3.select(".y.axis")
		  .append("text")
		  .text("均")
		  .attr("x", -45)
		  .attr("y", h/2+15)

		d3.select(".y.axis")
		  .append("text")
		  .text("年")
		  .attr("x", -45)
		  .attr("y", h/2+30)

		d3.select(".y.axis")
		  .append("text")
		  .text("齢")
		  .attr("x", -45)
		  .attr("y", h/2+45)
		};


		// 23区データ
		function setData(){
			nvdataset = [
{
"year":"2001",
"data":[{"districts":"千代田区","population":39340.0,"density":3380.0,"average":43.74},{"districts":"中央区","population":79582.0,"density":7817.0,"average":42.47},{"districts":"港区","population":159246.0,"density":7829.0,"average":43.11},{"districts":"新宿区","population":264512.0,"density":14510.0,"average":43.2},{"districts":"文京区","population":170275.0,"density":15055.0,"average":43.05},{"districts":"台東区","population":152727.0,"density":15151.0,"average":45.73},{"districts":"墨田区","population":217533.0,"density":15821.0,"average":43.48},{"districts":"江東区","population":375389.0,"density":9387.0,"average":42.26},{"districts":"品川区","population":319032.0,"density":14042.0,"average":42.85},{"districts":"目黒区","population":241564.0,"density":16433.0,"average":42.14},{"districts":"大田区","population":640583,"density":10602.0,"average":42.12},{"districts":"世田谷区","population":784524.0,"density":13508.0,"average":41.07},{"districts":"渋谷区","population":190691.0,"density":12620.0,"average":42.61},{"districts":"中野区","population":294941.0,"density":18919.0,"average":42.19},{"districts":"杉並区","population":505839.0,"density":14869.0,"average":41.72},{"districts":"豊島区","population":235962.0,"density":18137.0,"average":43.16},{"districts":"北区","population":317127.0,"density":15402.0,"average":44.26},{"districts":"荒川区","population":172265.0,"density":16889.0,"average":43.99},{"districts":"板橋区","population":499422.0,"density":15524.0,"average":41.45},{"districts":"練馬区","population":651618.0,"density":13530.0,"average":40.48},{"districts":"足立区","population":619364.0,"density":11642.0,"average":41.47},{"districts":"葛飾区","population":419616.0,"density":12044.0,"average":41.97},{"districts":"江戸川区","population":616450.0,"density":12364.0,"average":39.2}]
},
{
"year":"2005",
"data":[{"districts":"千代田区","population":42968.0,"density":3691.0,"average":43.71},{"districts":"中央区","population":93791.0,"density":9213.0,"average":42.49},{"districts":"港区","population":170971.0,"density":8406.0,"average":43.49},{"districts":"新宿区","population":273596.0,"density":15008.0,"average":43.83},{"districts":"文京区","population":177843.0,"density":15724.0,"average":43.51},{"districts":"台東区","population":158531.0,"density":15727.0,"average":46.31},{"districts":"墨田区","population":224657.0,"density":16339.0,"average":44.27},{"districts":"江東区","population":403677.0,"density":10094.0,"average":43.15},{"districts":"品川区","population":331530.0,"density":14592.0,"average":43.57},{"districts":"目黒区","population":246645.0,"density":16779.0,"average":42.79},{"districts":"大田区","population":654934.0,"density":10840.0,"average":43.01},{"districts":"世田谷区","population":804730.0,"density":13856.0,"average":41.96},{"districts":"渋谷区","population":194891.0,"density":12898.0,"average":43.27},{"districts":"中野区","population":298017.0,"density":19116.0,"average":43.06},{"districts":"杉並区","population":513784.0,"density":15102.0,"average":42.66},{"districts":"豊島区","population":235357.0,"density":18090.0,"average":44.01},{"districts":"北区","population":316211.0,"density":15358.0,"average":45.39},{"districts":"荒川区","population":175726.0,"density":17228.0,"average":44.9},{"districts":"板橋区","population":506993.0,"density":15760.0,"average":42.64},{"districts":"練馬区","population":672251,"density":13959.0,"average":41.58},{"districts":"足立区","population":624429,"density":11737.0,"average":42.82},{"districts":"葛飾区","population":424640.0,"density":12188.0,"average":43.22},{"districts":"江戸川区","population":637735,"density":12791.0,"average":40.25}]
},
{
"year":"2008",
"data":[{"districts":"千代田区","population":45461.0,"density":3906.0,"average":43.64},{"districts":"中央区","population":105230.0,"density":10337.0,"average":42.58},{"districts":"港区","population":195066.0,"density":9590.0,"average":42.92},{"districts":"新宿区","population":278350.0,"density":15269.0,"average":44.3},{"districts":"文京区","population":185782.0,"density":16426.0,"average":43.6},{"districts":"台東区","population":162744.0,"density":16145.0,"average":46.47},{"districts":"墨田区","population":233241.0,"density":16963.0,"average":44.59},{"districts":"江東区","population":428294.0,"density":10710.0,"average":43.53},{"districts":"品川区","population":342472.0,"density":15074.0,"average":43.82},{"districts":"目黒区","population":252073.0,"density":17148.0,"average":43.15},{"districts":"大田区","population":668423,"density":11063.0,"average":43.63},{"districts":"世田谷区","population":825782.0,"density":14218.0,"average":42.51},{"districts":"渋谷区","population":196510.0,"density":13005.0,"average":43.75},{"districts":"中野区","population":299380.0,"density":19203.0,"average":43.63},{"districts":"杉並区","population":523470.0,"density":15387.0,"average":43.3},{"districts":"豊島区","population":242557.0,"density":18644.0,"average":44.29},{"districts":"北区","population":317289.0,"density":15410.0,"average":45.99},{"districts":"荒川区","population":181205.0,"density":17765.0,"average":45.18},{"districts":"板橋区","population":512873.0,"density":15943.0,"average":43.47},{"districts":"練馬区","population":684107,"density":14205.0,"average":42.35},{"districts":"足立区","population":630897,"density":11859.0,"average":43.74},{"districts":"葛飾区","population":429267.0,"density":12321.0,"average":44.03},{"districts":"江戸川区","population":647186.0,"density":12980.0,"average":41.09}]
},
{
"year":"2011",
"data":[{"districts":"千代田区","population":47887.0,"density":4114.0,"average":43.62},{"districts":"中央区","population":116930.0,"density":11486.0,"average":42.51},{"districts":"港区","population":205599.0,"density":10108.0,"average":43.11},{"districts":"新宿区","population":283819.0,"density":15569.0,"average":44.8},{"districts":"文京区","population":191194.0,"density":16905.0,"average":43.83},{"districts":"台東区","population":168396.0,"density":16706.0,"average":46.71},{"districts":"墨田区","population":240380.0,"density":17482.0,"average":45.0},{"districts":"江東区","population":450950.0,"density":11277.0,"average":43.85},{"districts":"品川区","population":351350.0,"density":15464.0,"average":44.18},{"districts":"目黒区","population":254185.0,"density":17291.0,"average":43.7},{"districts":"大田区","population":674920.0,"density":11170.0,"average":44.28},{"districts":"世田谷区","population":835819,"density":14391.0,"average":43.17},{"districts":"渋谷区","population":196910.0,"density":13032.0,"average":44.2},{"districts":"中野区","population":298571.0,"density":19151.0,"average":44.37},{"districts":"杉並区","population":527133,"density":15495.0,"average":43.97},{"districts":"豊島区","population":246029.0,"density":18911.0,"average":44.81},{"districts":"北区","population":317929.0,"density":15441.0,"average":46.5},{"districts":"荒川区","population":188968.0,"density":18526.0,"average":45.22},{"districts":"板橋区","population":517404.0,"density":16083.0,"average":44.22},{"districts":"練馬区","population":693368.0,"density":14397.0,"average":43.07},{"districts":"足立区","population":644448.0,"density":12114.0,"average":44.4},{"districts":"葛飾区","population":435253.0,"density":12493.0,"average":44.73},{"districts":"江戸川区","population":654537,"density":13127.0,"average":41.96}]
},
{
"year":"2014",
"data":[{"districts":"千代田区","population":54160.0,"density":4653.0,"average":43.05},{"districts":"中央区","population":132610.0,"density":13027.0,"average":42.31},{"districts":"港区","population":235337.0,"density":11570.0,"average":42.76},{"districts":"新宿区","population":324082.0,"density":17777.0,"average":43.81},{"districts":"文京区","population":204258.0,"density":18060.0,"average":43.6},{"districts":"台東区","population":187792.0,"density":18630.0,"average":46.11},{"districts":"墨田区","population":254627.0,"density":18518.0,"average":45.07},{"districts":"江東区","population":487142.0,"density":12182.0,"average":43.92},{"districts":"品川区","population":368761.0,"density":16231.0,"average":44.23},{"districts":"目黒区","population":267379.0,"density":18189.0,"average":43.84},{"districts":"大田区","population":701416.0,"density":11609.0,"average":44.59},{"districts":"世田谷区","population":867552.0,"density":14937.0,"average":43.59},{"districts":"渋谷区","population":214665.0,"density":14207.0,"average":43.96},{"districts":"中野区","population":313665.0,"density":20120.0,"average":44.4},{"districts":"杉並区","population":542956.0,"density":15960.0,"average":44.28},{"districts":"豊島区","population":271643.0,"density":20880.0,"average":44.07},{"districts":"北区","population":334723.0,"density":16257.0,"average":46.29},{"districts":"荒川区","population":207635.0,"density":20356.0,"average":44.84},{"districts":"板橋区","population":540040.0,"density":16787.0,"average":44.55},{"districts":"練馬区","population":711212.0,"density":14768.0,"average":43.7},{"districts":"足立区","population":670385,"density":12601.0,"average":44.93},{"districts":"葛飾区","population":448186.0,"density":12864.0,"average":45.24},{"districts":"江戸川区","population":676116.0,"density":13560.0,"average":42.63}]
}
];
};


		</script>


		<div id="copy">
			<p>データ引用元：<a href="http://www.toukei.metro.tokyo.jp/juukiy/jy-index.htm" target="_blank"　rel="nofollow">東京都の統計「住民基本台帳による東京都の世帯と人口」</a></p>
			<p>D3.js公式サイト：<a href="http://d3js.org/" target="_blank"　rel="nofollow">D3.js - Data-Driven Documents</a></p>
  	</div>
  	</div>

	</body>
</html>
