<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Menu</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="/js/jquery-1.11.2.min.js"></script>
  </head>
<body>
<h3>デモ　メニュー</h3>
  <ul>
  	<li><a href="/dispdata2/">５歳毎の年齢層別人口（データ表示）</a></li>
  	<li><a href="/dispgraph2/">５歳毎の年齢層別人口（グラフ表示）</a></li>	
  	<li><a href="/dispgraph3/">県別人口（グラフ表示）</a></li>	

		<li><a href="/d3test/">d3 Demo</a></li>
  </ul>
</body>

</html>