<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Menu</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="/js/jquery-1.11.2.min.js"></script>
  </head>
<body>
<h3>Demonstration Menu</h3>
<p class="bs-component">
<a href="/dispdata2/" class="btn btn-info">５歳毎の年齢層別人口(表形式)</a>
<a href="/dispgraph2/" class="btn btn-info">５歳毎の年齢層別人口(グラフ)</a>
<a href="/dispgraph3/" class="btn btn-info">県別人口(グラフ)</a>
<a href="/d3demo/" class="btn btn-info">広島県人口推計</a>
<a href="/japan_map_demo/" class="btn btn-info">日本地図表示</a>

</p>


</body>

</html>